@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

// colours
$c-primary: #9A33CA;

$c-grey-dark: #aaa;
$c-grey-light: #ddd;

$c-black: #222;
$c-bg: #fff;

// fonts 
$f-poppins: 'Poppins', sans-serif;

// animation 
$animation: 0.2s ease;

