@import "../../assets/css/theme.scss";

.Settings {
  display: flex;
  flex-direction: column;
  background-color: lightblue;

  flex: 1;

  justify-content: space-around;

  > div {
    border-bottom: solid 1px $c-grey-light;
  }

  .ProfileContainer {
  }

  button {
    align-self: flex-end;

    padding: 6px 20px;

    border: solid 1px red;
    background: none;
    border-radius: 5px;

    font-family: $f-poppins;
    color: red;

    cursor: pointer;
    transition: $animation;

    &:hover {
      transform: scale(1.05);
    }
  }
}
