@import "../../assets/css/theme.scss";

.Settings {
  display: flex;
  flex-direction: column;

  flex: 1;

  box-sizing: border-box;
  padding-bottom: 50px;

  justify-content: space-around;

  > div {
    border-bottom: solid 1px $c-grey-light;

    padding: 25px 50px;

    flex: 1;

    display: flex;
  }

  .ProfileContainer {
    img {
      height: 100px;
      width: 100px;

      border-radius: 100%;

      border: solid 1px $c-grey-light;
    }

    .ProfileInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      margin-left: 30px;

      h1 {
        font-size: 24px;
        font-weight: 500;

        margin: 0;
        margin-top: 25px;
      }

      p {
        font-size: 16px;
        color: $c-grey-dark;

        font-weight: 400;

        margin: 0;
      }
    }
  }

  .EmailContainer {
  }

  .GameAttributesContainer {
  }

  button {
    align-self: flex-end;

    padding: 6px 20px;

    border: solid 1px red;
    background: none;
    border-radius: 5px;

    font-family: $f-poppins;
    color: red;

    cursor: pointer;
    transition: $animation;

    margin-top: 30px;

    &:hover {
      transform: scale(1.05);
    }
  }
}
