@import "../../assets/css/theme.scss";

.Product {
  height: 180px;

  border-radius: 5px;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  box-sizing: border-box;
  border: solid 1px #f6f6f6;

  transition: 0.1s ease;

  &:hover {
    border: solid 1px $c-primary;
  }

  cursor: pointer;

  > img {
    height: 140px;
    object-fit: cover;
    background-color: #f6f6f6;
  }

  .ProductInfo {
    width: 100%;

    flex: 1;

    display: flex;

    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 10px;

    background-color: #f2f2f2;

    .PriceContainer {
      display: flex;
      align-items: center;

      > p {
        font-size: 12px;
        margin-left: 5px;
        font-weight: 500;
      }

      > img {
        height: 14px;
        width: 14px;
      }
    }
  }

  &.Active {
    .ProductInfo {
      background-color: rgba($c-primary, 0.1);
    }

    cursor: auto;

    &:hover {
      border: solid 1px #f6f6f6;
    }
  }

  .CheckboxContainer {
    display: flex;
    align-items: center;

    button {
      background-color: $c-bg;
      border-radius: 100%;

      border: solid 1px $c-grey-dark;

      height: 16px;
      width: 16px;

      margin: 0;
      padding: 0;

      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      transition: 0.1s ease;

      &:hover {
        border: solid 1px $c-primary;
        transform: scale(1.05);
      }

      &.Selected {
        background-color: $c-primary;
        border: solid 1px $c-primary;
      }
    }

    > p {
      font-size: 10px;
      color: $c-primary;
      font-weight: 500;

      margin: 0;
      margin-left: 6px;
    }
  }
}
