@import "../../assets//css/theme.scss";

.NavBar {
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 80px;

  padding-top: 20px;

  .LogoContainer {
    display: flex;

    align-items: center;

    cursor: pointer;

    &:hover {
      img {
        transform: scale(1.1);
      }

      p {
      }
    }

    img {
      height: 30px;
      width: 30px;

      transition: $animation;
    }

    p {
      font-weight: 400;
      font-size: 16px;

      margin-left: 15px;
    }
  }

  .NavContainer {
    ul {
      list-style: none;

      display: flex;
      align-items: center;

      width: 100%;

      column-gap: 40px;

      li {
        font-size: 13px;
        padding: 10px 20px;

        border-radius: 10px;

        cursor: pointer;
        transition: $animation;

        &:hover {
          background-color: rgba($c-grey-light, 0.4);
        }
      }

      li.Active {
        border: none;

        background-color: rgba($c-primary, 0.1);
      }
    }
  }

  .ProfileContainer {
    display: flex;
    align-items: center;

    img {
      height: 30px;
      width: 30px;

      border: solid 1px $c-grey-light;

      border-radius: 100%;
    }

    p {
      font-size: 14px;
      margin-left: 15px;
    }
  }
}
