@import "../../assets/css/theme.scss";

.Marketplace {
  height: 100%;

  display: flex;
  justify-content: space-between;

  .ContentContainer {
    flex: 1;

    display: flex;
    flex-direction: column;

    .BalanceContainer {
      height: 50px;

      align-self: flex-end;
    }

    .ProductsContainer {
      flex: 1;

      margin-bottom: 100px;

      overflow-y: scroll;

      display: grid;
      grid-template-columns: repeat(3, 1fr);

      column-gap: 20px;
      row-gap: 15px;

      padding-right: 20px;

      overflow-y: scroll;
    }
  }
}
