@import "./assets/css/theme.scss";

.App {
  width: 800px;
  height: 600px;

  overflow: hidden;

  border: solid 1px black; // TODO remove

  font-family: $f-poppins;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #eee;
}

::-webkit-scrollbar {
  width: 9px;
  border-radius: 10px;

  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $c-grey-light;

  transition: $animation;

  &:hover {
    background-color: rgba($c-primary, 0.3);
  }
}
